$light-theme-primary-palette: (
  50: #eef5fb,
  100: #d4e5f5,
  200: #b7d4ee,
  300: #9ac2e7,
  400: #85b5e1,
  500: #6fa8dc,
  600: #67a0d8,
  700: #5c97d3,
  800: #528dce,
  900: #407dc5,
  A100: #ffffff,
  A200: #e3efff,
  A400: #b0d3ff,
  A700: #96c4ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$dark-theme-primary-palette: (
  50: #e1e7ec,
  100: #b5c3d0,
  200: #839bb1,
  300: #517392,
  400: #2c557a,
  500: #073763,
  600: #06315b,
  700: #052a51,
  800: #042347,
  900: #021635,
  A100: #6d97ff,
  A200: #3a73ff,
  A400: #074fff,
  A700: #0044ec,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$accent-palette: (
  50: #fbe5f0,
  100: #f5bfda,
  200: #ef94c1,
  300: #e969a8,
  400: #e44996,
  500: #df2983,
  600: #db247b,
  700: #d71f70,
  800: #d21966,
  900: #ca0f53,
  A100: #fff7fa,
  A200: #ffc4d7,
  A400: #ff91b5,
  A700: #ff78a3,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
