<div class="login-modal">
  <mat-tab-group
    animationDuration="0ms"
    mat-stretch-tabs
    backgroundColor="primary"
    color="primary"
    (selectedTabChange)="initForm($event)"
  >
    <mat-tab label="Войти"> </mat-tab>
    <mat-tab label="Зарегистрироваться"> </mat-tab>
  </mat-tab-group>
  <form [formGroup]="form">
    <mat-form-field *ngIf="selectedTab === 1">
      <mat-label>Username</mat-label>
      <input
        type="text"
        [value]="form.controls['username'].value"
        matInput
        formControlName="username"
        placeholder="Enter your username"
      />
      <button
        *ngIf="form.controls['username'].value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="form.controls['username'].setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-error
        *ngIf="
          (form.controls['username'].hasError('minLength') ||
            form.controls['username'].hasError('maxLength')) &&
          !form.controls['username'].hasError('required')
        "
      >
        Username should contain from 2 to 30 symbols
      </mat-error>
      <mat-error *ngIf="form.controls['email'].hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        type="email"
        [value]="form.controls['email'].value"
        matInput
        formControlName="email"
        placeholder="Ex. pat@example.com"
      />
      <button
        *ngIf="form.controls['email'].value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="form.controls['email'].setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-error
        *ngIf="
          form.controls['email'].hasError('email') &&
          !form.controls['email'].hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="form.controls['email'].hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        [value]="form.controls['password'].value"
        formControlName="password"
        placeholder="Enter your password"
      />
      <button
        *ngIf="form.controls['password'].value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="form.controls['password'].setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-error
        *ngIf="
          (form.controls['password'].hasError('minLength') ||
            form.controls['password'].hasError('maxLength')) &&
          !form.controls['password'].hasError('required')
        "
      >
        Password should contain from 2 to 30 symbols
      </mat-error>
      <mat-error *ngIf="form.controls['password'].hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      [disabled]="form.invalid"
      (click)="selectedTab === 0 ? login() : registration()"
    >
      {{ selectedTab === 0 ? "Войти" : "Зарегистрироваться" }}
    </button>
  </form>
</div>
