<mat-toolbar color="accent" class="app-header">
  <mat-toolbar-row class="container app-header__container">
    <a mat-button routerLink="/">Mall</a>
    <div class="app-header__navigation">
      <mat-slide-toggle color="primary" [checked]="isDarkMode" [(ngModel)]="isDarkMode" (ngModelChange)="changeMode()">
        Ночной режим
      </mat-slide-toggle>
      <button mat-flat-button color="primary" class="app-header__navigation_btn" (click)="openLoginModal()">
        <mat-icon aria-hidden="false">person_outline</mat-icon>
        Войти
      </button>
      <a
        mat-stroked-button
        routerLink="/favourites"
        color="primary"
        class="app-header__navigation_btn"
        matBadge="15"
        matBadgeColor="warn"
      >
        <mat-icon aria-hidden="false">favorite_border</mat-icon>
        Избранное
      </a>
      <button
        mat-stroked-button
        color="primary"
        class="app-header__navigation_btn"
        matBadge="25"
        matBadgeColor="warn"
      >
        <mat-icon aria-hidden="false">shopping_cart</mat-icon>
        Корзина
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
